# Vim-generated swap files
*.swp

# Compiled python modules
*.pyc

# Setuptools distribution folder and egg metadata
/dist/
/*.egg-info

# The "archive" folder with code to be referenced, but not used
/archive/

# HDF5 files
*.hdf5

# Plots
*.png
